# IDE folders:
.idea/*
!.idea/runConfigurations
.idea_modules
.vscode/*
!.vscode/launch.json

# Local
dist
data/mysql/vol/*
data/redis/vol/*
node_modules
.env
.env.development
swagger.json
ormconfig.json
.tool-versions
.devspace/

reports
